# Assignment 2- Data Structure

# Topic List

## Q1. Create a list of 5 random numbers and print the list.

In [30]:
random_nos=[3,6,9,14,67,5]
print("List of random no.s :",random_nos)

List of random no.s : [3, 6, 9, 14, 67, 5]

## Q2. Insert 3 new values to the list and print the updated list.

In [32]:
random_nos.insert(2,1) # inserting value 1 to the index 2 using insert()
random_nos.append(18)  # inserting value 18 to the list using append()
random_nos[4]=10  # inserting value 10 to the index 4
print("Updated list of random no.s:",random_nos)

Updated list of random no.s: [3, 6, 1, 9, 10, 67, 5, 18]

## Q3. Try to use a for loop to print each element in the list.

In [35]:
for e in random_nos:
    print("The random no is :",e)

The random no is : 3
The random no is : 6
The random no is : 1
The random no is : 9
The random no is : 10
The random no is : 67
The random no is : 5
The random no is : 18

# Topic: Dictionary

## Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [90]:
Dict_details={"name":"John","age":25,"address":"New York"}
print("Dictionary is created with the following key value pair: ",Dict_details)

Dictionary is created with the following key value pair:  {'name': 'John', 'age': 25, 'address': 'New York'}

## Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [92]:
Dict_details['phone']=1234567890
print("Dictionary after adding new key value pair :",Dict_details)

Dictionary after adding new key value pair : {'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

# Topic: Set

## Q1.Create a set with values 1, 2, 3, 4, and 5.

In [82]:
Set={1,2,3,4,5}
print("Set is created with the following elements :",Set)

Set is created with the following elements : {1, 2, 3, 4, 5}

## Q2. Add the value 6 to the set created in Q1.

In [84]:
Set.add(6)
print("Set after adding value 6 :",Set)

Set after adding value 6 : {1, 2, 3, 4, 5, 6}

## Q3. Remove the value 3 from the set created in Q1.

In [86]:
Set.remove(3)
print("Set after removing value 3:",Set)

Set after removing value 3: {1, 2, 4, 5, 6}

# Topic:Tuple

## Q1. Create a tuple with values 1, 2, 3, and 4

In [77]:
Tuple=(1,2,3,4)
print("Tuple created :",Tuple)

Tuple created : (1, 2, 3, 4)

## Q2. Print the length of the tuple created in Q1.

In [80]:
print("Length of the Tuple created:",len(Tuple))

Length of the Tuple created: 4